
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <canvas id="myChart1"></canvas>
    <script src="/static/chart.min.js"></script>
    <script>
        
    </script>
    <script>
    var ctx = document.getElementById('myChart1').getContext('2d');
    var chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [{% for row in chart %} "{{ row[0] }}", {% endfor %}],
            datasets: [{
                label: "amount in RMB",
                borderColor: "rgb(75, 192, 192)",

                data: [{% for row in chart %} {{ row[1] }}, {% endfor %}],
            }]
        },
        options: {
        elements: {
            line: {
                tension: 0, // disables bezier curves
            }
        }
    },


    });
    </script>

    <form method='POST'>
        {{ form.hidden_tag()}}
        {{ form.no.label }}
        {{ form.no() }}
        {{ form.submit.label }}
        {{ form.submit() }}
    </form>
    
</body>

</html>